{% extends "base.html" %}
{% load static %}
{% block title %}文章列表：{{postcat.name}}{% endblock %}
{% block content %} 
<style>
    
    .wrapper {
        width: 1170px;
        margin: 0 auto;
    }
    header {
        height: 100px;
        background: #262626;
        width: 100%;
        z-index: 10;
        position: fixed;
    }
    .logo {
        width: 30%;
        float: left;
        line-height: 100px;
    }
    .logo a {
        text-decoration: none;
        font-size: 30px;
        font-family: poppins;
        color: #fff;
        letter-spacing: 5px;
    }
    nav {
        float: right;
        line-height: 100px;
    }
    nav a {
        text-decoration: none;
        font-family: poppins;
        letter-spacing: 4px;
        font-size: 20px;
        margin: 0 10px;
        color: #fff;
    }
    .banner-area {
        width: 100%;
        height: 500px;
        position: fixed;
        top: 0px;
        background-image: url(/media/ar4.png);
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    .banner-area h2 {
        padding-top: 8%;
        font-size: 70px;
        font-family: poppins;
        text-transform: uppercase;
        color: #fff;
    }
    .content-area {
        width: 100%;
        position: relative;
        top: 450px;
        background: #ebebeb;
        height: 1500px;
    }
    .content-area h2 {
        font-family: poppins;
        letter-spacing: 4px;
        padding-top: 30px;
        font-size: 40px;
        margin: 0;
    }
    .content-area p {
        padding: 2% 0px;
        font-family: poppins;
        line-height: 30px;
    }
    h3{
        color:black;
        font-weight:500;
    }
</style> 

<body class="landing is-preload">
    
    {% include "header.html" %}

    <div id="page-wrapper">

        <!-- Header -->
        {% comment %} {% include "header_mod2.html" %} {% endcomment %}

        <div id="page-wrapper">

            <!-- Header -->
            <div class="box-area" >
                
                <div class="banner-area" >
                    <h2 style="text-align:center;font-family: 'Noto Sans TC'">文章列表：{{postcat.name}}</h2>
                </div>
                
                <div class="content-area">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-10">
                                <section class="ar_list">
                                    <br>
                                    {% for article in articles %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title alert-info" style="font-family: 'Noto Sans TC'">{{ article.title }}</h3>
                                            {% if article.etitle %}
                                            <h4 class="card-title" style="font-family: 'Noto Sans TC';font-weight:200%;">{{ article.etitle }}</h4>
                                            {% endif %}
                                            {% if article.jtitle %}
                                            <h4 class="card-title" style="font-family: 'Noto Sans TC';font-weight:200%;">{{ article.jtitle }}</h4>
                                            {% endif %}
                                            <h4>Keywords:</h4>
                                            <h4>Category:{{ postcat.name }}</h4>
                                            <p class="card-text alert-warning">
                                                {{ article.abstract }}
                                            </p>
                                            
                                            <a href="/article_read/{{ mod }}/{{ article.id }}/" class="btn btn-primary">點我觀看</a>
                                        </div>
                                        <div class="card-footer">
                                            {{ article.editor }}
                                        </div>
                                    </div>
                                    <br>
                                    {% endfor %}
                                </section>
                            </div>
                            <div class="col-2">
                                <br><br>
                                <h4>關鍵字查詢：</h4>
                                    <script>
                                        function kwchange(a) {
                                            window.location = "/article_list_tag/" + a.value + "/";
                                        }
                                    </script>
                                    <select onchange="kwchange(this)">
                                        {% for k in keywords %}
                                            <option value={{ k.name }}>{{ k.name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Footer -->
        {% include "footer.html"%}

    </div>
    {% comment %} <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script> {% endcomment %}
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% endblock %}