{% extends "base.html" %}
{% load static %}
{% block title %}文章觀看{% endblock %}
{% block content %} 
<style>

</style>

<body class="is-preload">
    <div id="page-wrapper">
        {% include "header_mod2.html" %}
        <section id="main" class="container">
            <header>
                <h2>{{ article.title }}</h2>
                {% if article.etitle %}
                    <h2>{{ article.etitle }}</h2>
                {% endif %}
                {% if article.jtitle %}
                    <h2>{{ article.jtitle }}</h2>
                {% endif %}
                
            </header>
            <div class="card">
                <div class="card-body">
                    {{ article.content | linebreaksbr}}
                </div>
                <div class="card-footer">
                    Edit:{{ article.editor }}
                </div>
            </div>
        </section>
    </div>

</body>
{% endblock %}