
<style>
    .text{
        font-size:3vmin
    }
</style>
<header id="header" >
    <h1><a href="/" class="text"></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/" class="text">Home</a></li>
            <li>&nbsp&nbsp&nbsp&nbsp</li>
            <li>
                <a href="#" class="icon solid fa-angle-down text">menu</a>
                <ul>
                    <li>
                        <a href="#" class="text">文章列表</a>
                        <ul>
                            <li><a href="article_list/1/" class="text">AI增能</a></li>
                            <li><a href="article_list/0/" class="text">DH課程</a></li>
                            <li><a href="article_list/2/" class="text">DH工具介紹</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="text">研究計畫</a></li>
                    <li><a href="#" class="text">團隊成員</a></li>
                    <li><a href="#" class="text">討論專區</a></li>
                    {% comment %} <li><a href="elements.html"></a></li> {% endcomment %}
                    {% comment %} <li>
                        <a href="#" class="text">DH工具</a>
                        <ul>
                            <li><a href="#" class="text">工具介紹</a></li>
                            <li><a href="#" class="text">123</a></li>
                        </ul>
                    </li> {% endcomment %}
                    <li><a href="/admin/" class="text">管理後台</a></li>
                </ul>
            </li>
            {% comment %} <li><a href="#" class="button">Sign Up</a></li> {% endcomment %}
        </ul>
    </nav>
</header>